.debhelper
autoreconf.*
debhelper-build-stamp
files
*.debhelper.log
*.substvars
libpulse-dev
libpulse-mainloop-glib0
libpulse0
libpulsedsp
pulseaudio-equalizer
pulseaudio-esound-compat
pulseaudio-module-bluetooth
pulseaudio-module-gconf
pulseaudio-module-jack
pulseaudio-module-lirc
pulseaudio-module-raop
pulseaudio-module-zeroconf
pulseaudio-utils
pulseaudio.postinst.debhelper
pulseaudio.postrm.debhelper
pulseaudio.preinst.debhelper
pulseaudio.prerm.debhelper
pulseaudio
shlibs.local
tmp
